/* ===========================
  VARIÁVEIS CSS
=========================== */

:root {
  --font-main: "Lexend Deca", sans-serif;
  --font-alt: "Inter", sans-serif;

  --color-primary: #e8ecff;
  --color-black: #101828;

  --font-sm: 14px;
  --font-md: 19px;
  --font-lg: 24px;
  --font-xl: 31px;
}

/* RESET DE PÁGINA */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main);
  background: #fff;
}

#mainBoxDashboard {
  display: flex;
  justify-content: space-between;
}

/* MENU ESQUERDA */

#boxLeft {
  width: 225px;
  padding: 32px;
  border-right: 1px solid #d0d5dd;

  display: flex;
  justify-content: center;
}

#boxMenu {
  display: flex;
  flex-direction: column;
  gap: 32px;

  position: fixed;
}

#img-logo-menu {
  display: block;
  margin: 0 auto;
  width: 134px;
  height: 21.4px;
}

.menu {
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 10px;

  transition: 0.5s;
}

.menu a img {
  margin-right: 16px;
}

#listaMenu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu:hover {
  background-color: #8cc7ff50;
}

.active {
  border: 2px solid #d0d5dd;
  background-color: #8cc7ff50;
}

.menu a {
  display: flex;
  align-items: center;

  color: #475467;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;

  text-decoration: none;
}

/* PAGINA CENTRO */

#boxCentral {
  width: 810px;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 32px;

  /* background-color: aqua; */
}

#headerApp {
  width: 707px;
  height: 195px;
  border-radius: 22px;
  background: linear-gradient(180deg, #66a8ff 0%, #8cc7ff 100%);

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#boxGiftTexto {
  width: 341px;
}

#boxGiftImagem {
  width: 156px;
  height: 140px;
}

#boxGiftImagem img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

#headerApp h1 {
  color: #fff;
  font-family: "Lexend Deca";
  font-size: 31px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 116.129% */
  letter-spacing: -0.71px;
}

#headerApp p {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

#corpoApp {
  width: 707px;
  margin-top: 32px;
}

#corpoApp h1 {
  color: #101828;
  font-family: "Lexend Deca";
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px; /* 140% */
  letter-spacing: -0.71px;
  text-align: left;
}

#produtos {
  width: 700px;
  min-height: 400px;
  border-radius: 20px;
  border: 2px solid #d0d5dd;

  padding: 16px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}

.produto {
  width: 210px;
  min-height: 150px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.boxImageProduto {
  width: 210px;
  height: 150px;
  border-radius: 12.275px;
  border: 1px solid var(--gray-300, #d0d5dd);

  display: flex;
  align-items: center;
  justify-content: center; /* centraliza imagens menores */
  overflow: hidden; /* evita que passe do espaço */
}

.boxImageProduto img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* faz a imagem preencher cortando se precisar */
  border-radius: 12px;
}

.boxTextoProduto h2 {
  color: #101828;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.boxTextoProduto span {
  color: #667085;
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}

.ButtonProduto {
  border-radius: 8px;
  border: 1px solid #101828;
  background: #101828;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);

  color: #fff;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;

  width: 100%;
  height: 36px;

  cursor: pointer;
}

.ButtonProdutoNaoDisponivel {
  border: 1px solid #c6c6c6;
  background: #c6c6c6;
  cursor: not-allowed;
}

/* PAGINA DIREITA */

#boxRight {
  width: 303px;
  min-height: 100vh;
  padding: 32px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

#boxRight p#friends {
  color: #101828;
  font-family: "Lexend Deca";
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
}

#amigos {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #d0d5dd;
  padding: 0 24px;
}

.amigo {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;

  padding: 16px 0;

  border-bottom: 1px solid #d0d5dd;
}

.nomeAmigo {
  color: #101828;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.emailAmigo {
  color: #667085;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}

.boxImagemAmigo img {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#aniversariante {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 20px;
  border: 2px solid #d0d5dd;
}

#aniversariante h1 {
  color: #101828;
  font-family: "Lexend Deca";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

#aniversariante p {
  color: #475467;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#aniversariante span {
  font-weight: 700;
}

#aniversariante a {
  text-align: left;

  color: #101828;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
}

#boxButton {
  padding: 16px;
}

#boxAniver {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}