/* ===========================
  VARIÁVEIS CSS
=========================== */

:root {
  --font-main: "Lexend Deca", sans-serif;
  --font-alt: "Inter", sans-serif;

  --color-primary: #e8ecff;
  --color-black: #101828;

  --font-sm: 14px;
  --font-md: 19px;
  --font-lg: 24px;
  --font-xl: 31px;
}

/* RESET DE PÁGINA */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main);
  background: #e8ecff;
}

/* CONTEÚDO */

section#login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: #ffffff;
  padding: 32px;
  border-radius: 32px;
  box-shadow: 0 1px 10px 0px #00000012;
  width: 100%;
  max-width: 360px;
}

.form-container-cadastro {
  max-width: 491px;
}

img {
  display: block;
  margin: 0 auto;
}

h1 {
  color: var(--color-black);
  font-size: var(--font-xl);
  font-style: normal;
  font-weight: 600;
  text-align: center;

  margin-top: 24px;
  margin-bottom: 32px;
}

form,
form div {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

  color: #667085;
  font-family: var(--font-alt);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;

  margin-bottom: 16px;
}

button {
  border-radius: 8px;
  border: 1px solid #8e92f7;
  background: var(--color-black);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

  color: #fff;
  font-family: var(--font-alt);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;

  padding: 10px 18px;

  cursor: pointer;
}

a {
  color: #101828;
  text-align: center;
  font-family: var(--font-alt);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;

  margin-top: 24px;
}

/* Página de Cadastro */

.box-steps {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stepper {
  display: flex;
  align-items: center;
  width: 50%;
  position: relative;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #94a3b8; /* Cinza */
  font-weight: 600;
  position: relative;
  z-index: 2;
}

.step.active {
  color: #0f172a; /* Cor ativa (preto azulado) */
}

.step .circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e2e8f0; /* Círculo cinza claro */
  color: #0f172a;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}

.step.active .circle {
  background-color: #0f172a;
  color: white;
  box-shadow: 0 0 0 4px #e0e7ff; /* Borda azul clara */
}

.line {
  height: 2px;
  background-color: #cbd5e1;
  width: 215px;
  position: absolute;
  left: 10px;
  top: 15px;
  z-index: 0;
}

.type-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.btn-next {
  display: flex;
  justify-content: flex-end;
}

#step-2 {
  z-index: 2;
  margin-left: 130px;
}

/*
  display block exibe o conteúdo
  display none oculta o conteúdo
*/
.form-01 {
  display: block;
}

.form-02 {
  display: none;
}

#btn-avancar {
  display: block;
}

#btn-finalizar {
  display: block;
}

/* ------------------ */